<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Assignments</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- Assg-2 -->
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.phase2.servlet.MyServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/sessionlogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.phase2.servlet.MyServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <!-- Assg-1 -->
  
  
  <context-param>
  <param-name>n1</param-name>
  <param-value>100</param-value>
  </context-param>
  <context-param>
  <param-name>n2</param-name>
  <param-value>100</param-value>
  </context-param>
  <context-param>
  <param-name>n3</param-name>
  <param-value>100</param-value>
  </context-param>
  <context-param>
  <param-name>n4</param-name>
  <param-value>100</param-value>
  </context-param>

</web-app>